{{ if .Site.Data.homepage.showcase.enable }}
{{ $sc := .Site.Data.homepage.showcase }}
<section class="nccn-showcase">

  <div class="nccn-showcase__band nccn-showcase__band--alt">
    <div class="nccn-showcase__stack">
      <p class="nccn-wordmark">{{ $sc.wordmark }}</p>
      <div class="nccn-pi-block">
        <p class="nccn-pi-name">@ The University of Texas at Austin</p>
        <p class="nccn-pi-name">PI. Hayoung Song</p>
      </div>
    </div>
  </div>

  <div class="nccn-showcase__band">
    <div class="nccn-showcase__stack">
      <div class="nccn-showcase__content">
        <p class="nccn-welcome">{{ $sc.welcome }}</p>
        <p class="nccn-description">{{ $sc.description }}</p>
        <p class="nccn-launch">
          {{ $sc.launch }}
          <a href="{{ $sc.launchLink.URL }}" target="_blank" rel="noopener" class="nccn-link">{{ $sc.launchLink.text }}</a>{{ $sc.launchSuffix }}
          <a href="{{ $sc.joinLink.URL }}" class="nccn-link">{{ $sc.joinLink.text }}</a>{{ $sc.joinSuffix }}
        </p>
      </div>
    </div>
  </div>

</section>
{{ end }}
